html {
  width: 1728px;
}

body {
  margin: 0 0 0;
  height: 1474px;
}

.form-container {
  margin: 62px auto 174px;
  width: 1120px;
  height: 1012px;
  border-radius: 12px;
  border: 1px solid #eddede;
  background: #ffc0cb;
}

.form-container__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 930px;
  height: 735px;
  margin: 128px 95px 0px;
  /* border: 1px solid red; */
}
.job-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
  width: 497px;
  height: 40px;
  color: #000;
  font-family: Arial;
  font-size: 40px;
  font-weight: 700;
}
.text-labels {
  width: 288px;
  height: 26px;
  font-size: 32px;
}
.text-input {
  width: 456px;
  height: 64px;
  flex-shrink: 0;
}
.cv-file {
  width: 482px;
  height: 60px;
}
.address-input {
  width: 900px;
  height: 220px;
}
.copyright-2023 {
  display: flex;
  width: 620px;
  height: 50px;
  padding: 23px 0px 21px 44px;
  color: #fff;
  font-family: Calibri;
  font-size: 32px;
  font-weight: 400;
}
.apply-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 548px;
  height: 58px;
  margin: 0px 285px 40px 287px;
}
.apply-btn__link {
  border-radius: 3px;
  background: #1b52df;
  color: #fff;
  border: none;
}
