html {
  width: 1728px;
}

body {
  margin: 0 0 0;
  width: 1728px;
  height: 1474px;
  box-sizing: border-box;
}

.form-container {
  margin: 62px auto 174px;
  width: 1118px;
  height: 1010px;
  border-radius: 12px;
  border: 1px solid #eddede;
  background: #ffc0cb;
}

.form-container__two {
  margin: 49px 95px 0px;
}

.form-container__two__third {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.element {
  display: flex;
  flex-direction: column;
}

.job-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
  margin-bottom: 49px;
  width: 497px;
  height: 40px;
  color: #000;
  font-family: Arial;
  font-size: 40px;
  font-weight: 700;
}

.text-labels {
  font-family: Arial;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}

.text-input {
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  background: #fff;
  width: 452px;
  height: 60px;
  flex-shrink: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 36px;
}

.cv-file {
  display: inline-block;
  font-size: 36px;
  width: auto;
  height: 60px;
  margin-bottom: 50px;
}

.address-input {
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  background: #fff;
  width: 922px;
  height: 218px;
  margin-bottom: 61px;
  font-size: 36px;
}

.copyright-2023 {
  display: flex;
  width: 620px;
  height: 50px;
  padding: 23px 0px 21px 44px;
  color: #fff;
  font-family: Calibri;
  font-size: 32px;
  font-weight: 400;
}

.apply-btn {
  display: flex;
  justify-content: center;
}

.apply-btn__link {
  border-radius: 3px;
  background: #1b52df;
  color: #fff;
  border: none;
  width: 548px;
  height: 58px;
  font-size: 36px;
  font-family: "Calibri";
}

form {
  font-family: "Arial";
  font-size: 36px;
}

select.text-input {
  font-size: 36px;
  font-family: "Calibri";
  padding-left: 20px;
  height: 64px;
}
